.outerbox{
  width: 28%;
  height: 35em;
  box-shadow: 0 0 10px rgb(179, 179, 231);
  border-radius: 5px;
  margin:  30px auto;
  padding: 15px 5px;
  }
  .balance{
    background: rgb(230, 228, 228);
  }
  .expensdiv{
    display: flex;
    justify-content: space-around;
    
  }
  .list ul{
    height: 150px;
    overflow-y: scroll;
    padding: 0px;

  }
  .list li{
    /* background-color: rgb(178, 151, 233); */
    border-bottom: 1px dotted black;
    width: 90%;
    padding:7px;
    display: flex;
    justify-content: space-between;
  }